<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.DetailDao">

    <delete id="deleteByAids">
        delete

        from tbl_contacts_remark

        where contactsId in

        <foreach collection="array" item="aid" open="(" close=")" separator=",">
            #{aid}
        </foreach>
    </delete>

    <select id="getCountByAids" resultType="int">
        select count(*)

        from tbl_contacts_remark

        where contactsId in
        <foreach collection="array" item="aid" open="(" close=")" separator=",">
            #{aid}
        </foreach>
    </select>
</mapper>